@model StandardPlugInConfigurationInformationViewBase
           
@using Unify.Framework.Web

@Html.HiddenFor(model => model.OperationListId)
@Html.HiddenFor(model => model.OperationId)
@Html.HiddenFor(model => model.ParentOperationId)
@Html.HiddenFor(model => model.OperationTreeItemType)
@Html.HiddenFor(model => model.EditMode)
@Html.HiddenFor(model => model.Id)

<legend>@OperationControllerResources.OperationInformationText</legend>

@using (Html.MetaDataFor(model => model.Retries, new { description = OperationControllerResources.RetriesDescription }))
{
    @Html.LabelFor(model => model.Retries, OperationControllerResources.RetriesName)
    @Html.TextBoxFor(model => model.Retries)
}

@using (Html.MetaDataFor(model => model.RetryWait, new { description = OperationControllerResources.RetryWaitDescription }))
{
    @Html.LabelFor(model => model.RetryWait, OperationControllerResources.RetryWaitName)
    <span id="RetryWaitTimeSpanContainer">
        @Html.TextBoxFor(model => model.RetryWait, new { @class = "timepickertexthint" })
    </span>
}

@using (Html.MetaDataFor(model => model.SuccessAction, new{description = OperationControllerResources.SuccessActionDescription}, new { @class = "chzn-container" }))
{ 
    @Html.LabelFor(model => model.SuccessAction, OperationControllerResources.SuccessActionName)
    @Html.EnumDropDownList(model => model.SuccessAction, new { @class = "chzn-select" })
}

<br/>

@using (Html.MetaDataFor(model => model.FailureAction, new{ description = OperationControllerResources.FailureActionDescription },new { @class = "chzn-container" }))
{
    @Html.LabelFor(model => model.FailureAction, OperationControllerResources.FailureActionName)
    @Html.EnumDropDownList(model => model.FailureAction, new { @class = "chzn-select" })
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#RetryWaitTimeSpanContainer').unifytimepicker(
        {
            includeDays: false
        });
    });
</script>