@model OutgoingPendingPlugInConfigurationViewInformation
@using Unify.Framework.Web

@{
    ViewBag.Title = Html.CreatePlugInTitle(Model.CreateOrUpdateText, TitleResources.CreateOutgoingPendingOperationTitleCaption);
}

@if (!Model.ApplicableAgents.Any())
{
    <p>@string.Format(
        OperationControllerResources.NoApplicableAgentMessageTemplate,
        OperationControllerResources.PlugInOperationsOutgoingPendingName,
        OperationControllerResources.AgentsFIMName)

        @if (Html.IsInRole(UnifyRoles.Write))
        { 
            @Html.ActionLink("Create Agent", "Create", "Agents",
                new { agentType = AgentPlugInNames.FIMAgentPlugInName },
                null)
        }
        else
        {
            <label>@OperationControllerResources.CreateAgentInsufficientPermissions</label>
        }
    </p>
}
else
{
    using (Html.DecorateForm(
            () => Html.BeginForm("CreateOutgoingPendingPlugInOperation", "Operation", FormMethod.Post, new { id = "CreateOutgoingPendingChangesPluginForm" }),
            Model.CreateOrUpdateText,
            "CreateOutgoingPendingChangesPluginForm",
            OperationResources.ConfigureOperationAltText,
            "submitButton"))
    {
        <div>
            <fieldset>
                @Html.HiddenFor(model => model.OperationListId)
                @Html.HiddenFor(model => model.OperationId)
                @Html.HiddenFor(model => model.ParentOperationId)
                @Html.HiddenFor(model => model.OperationTreeItemType)
                @Html.HiddenFor(model => model.EditMode)
                @Html.HiddenFor(model => model.Retries)
                @Html.HiddenFor(model => model.RetryWait)
                @Html.HiddenFor(model => model.ManagementAgentKey)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.DisplayName)
                
                @using (Html.MetaDataFor(model => model.AgentId, new {description = OperationControllerResources.SelectAgentDescription}, new { @class = "chzn-container" }))
                {
                    @Html.CustomTooltipFor(model => model.AgentId, OperationControllerResources.SelectAgentName, OperationControllerResources.SelectAgentName)

                    @Html.DropDownListFor(model => model.AgentId,
                                new SelectList(
                                    Model.ApplicableAgents,
                                    "Id",
                                    "Name",
                                    Model.ApplicableAgents.Any(agent => agent.Id == Model.AgentId)
                                        ? Model.ApplicableAgents.Where(agent => agent.Id == Model.AgentId).Select(agent => agent).First()
                                        : Model.ApplicableAgents.First()),
                                    new { @class = "chzn-select" })
                }
            </fieldset>
        </div>
    }
}
