@using Unify.Connect.Web.Extensions
@using Unify.Framework.Web
@model AdapterViewInformation
           
@using (Html.DecorateForm(
        () => Html.BeginForm("ConfigureAdapterSetDN", "Adapter"),
        AdapterResources.SaveDnTemplateButton,
        "ConfigureAdapterDNTemplate",
        AdapterResources.SaveDnTemplateButtonAltText
    ))
{
    @Html.HiddenFor(model => model.AdapterComment)
    @Html.HiddenFor(model => model.AdapterId)
    @Html.HiddenFor(model => model.AdapterName)
    @Html.HiddenFor(model => model.BaseConnectorId)
    @Html.HiddenFor(model => model.EditMode)
    @Html.HiddenFor(model => model.Enabled)
    @Html.HiddenFor(model => model.ObjectClass)
    @Html.HiddenFor(model => model.ReflectOnBaseConnectorImport)
    @Html.HiddenFor(model => model.ReflectOnBaseConnectorPoll)
    @Html.HiddenFor(model => model.ReflectOnChangesDue)
    @Html.HiddenFor(model => model.ReflectOnRelationalConnectorImport)
    @Html.HiddenFor(model => model.ReflectOnRelationalConnectorPoll)

    using(Html.MetaDataFor(model => model.Template, new { description = AdapterResources.DistinguishedNameTemplateDescription, hideRequired = true }))
    {
        @Html.LabelFor(model => model.Template, AdapterResources.DistinguishedNameTemplateLabel)
        <br/>
        <br/>
        <div>
            @Html.DnTemplateFor(Model.Template, Model.Schema, Model.SchemaTypes, false)
        </div>
    }
}