@model DateSchemaFieldDefinitionInformation
@using Unify.Framework
@using Unify.Framework.Web
@{
    string dateFormatDescription = string.Format(
            ConnectorControllerResources.DayTimeAndDateAndDateTimeFormatDescriptionTemplate,
            LoggingControllerConstants.DateFormatCSharpEditMode,
            LoggingControllerConstants.DateSampleEditMode);
}
<fieldset>
    <legend>
        @ConnectorControllerResources.MinimumValueInnerValidatorLegendText
        @Html.CheckBoxFor(model => model.EnableMinValueFlag, new { @class = "CheckCollapse" })
        <span class="hint">@ConnectorControllerResources.MinimumValueInnerValidatorFlagDescription<span class="hint-pointer">&nbsp;</span></span>
    </legend>  
    @using (Html.MetaDataFor(model => model.MinValue, new { description = string.Concat(ConnectorControllerResources.EntitySchemaRowMinValueDescription, " ", dateFormatDescription) }, new { @class = "CheckSection" }))
    {
        @Html.LabelFor(model => model.MinValue, ConnectorControllerResources.EntitySchemaRowMinValueLabel)
        @Html.TextBoxFor(model => model.MinValue, LoggingControllerConstants.DateFormatStrCSharpEditMode)
    }
</fieldset>
<fieldset>
    <legend>
        @ConnectorControllerResources.MaximumValueInnerValidatorLegendText
        @Html.CheckBoxFor(model => model.EnableMaxValueFlag, new { @class = "CheckCollapse" })
        <span class="hint">@ConnectorControllerResources.MaximumValueInnerValidatorFlagDescription<span class="hint-pointer">&nbsp;</span></span>
    </legend>
    @using (Html.MetaDataFor(model => model.MaxValue, new{description = string.Concat(ConnectorControllerResources.EntitySchemaRowMaxValueDescription, " ", dateFormatDescription)}, new{@class="CheckSection"}))
    {
        @Html.LabelFor(model => model.MaxValue, ConnectorControllerResources.EntitySchemaRowMaxValueLabel)
        @Html.TextBoxFor(model => model.MaxValue, LoggingControllerConstants.DateFormatStrCSharpEditMode)
    }
</fieldset>
<script type="text/javascript">
    $(function () {
        $("#MaxValue, #MinValue").datepicker(
            {
                dateFormat: "@LoggingControllerConstants.DateFormatJQueryEditMode",
                showButtonPanel: true,
                changeMonth: true,
                changeYear: true,
                showWeek: true
            });
    });
</script>