@using Unify.Connect.Web.Extensions
@using Unify.Framework.Web
@model string
           
@{
    string errorImageUrl = Url.WebIcon("error.png");
}

<div style="padding:10px" class="FaintBorder">
                
    <img src="@errorImageUrl" alt="@WebStudioResources.ErrorText" title="@WebStudioResources.ErrorText"/>&nbsp;

    @if (Model != null)
    {
        @Html.Raw(Model)
    }
    else
    {
        <label>@AdapterResources.AdapterSchemaFailedNoReasonGivenMessage</label>
    }

</div>